<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Club of Sustainibility and Innovation, IIT (BHU) Varanasi">

        <title>UDAAN</title>
        <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

        <!-- Custom Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/clubs/csi/custom.css" type="text/css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <style>
            html *
            {
                font-family: "Open Sans", Sans-serif!important;
            }

        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" >UDAAN
                        <br><span class="iit-heading normal-font">SnTC - IIT BHU</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#workshops">Workshops</a></li>
                        <li><a class="page-scroll" href="#highlights">Highlights</a></li>
                        
                        <li><a class="navbar-brand" href="/">
                            <img src="/static/tac/img/home.png" style="width:20px;">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <div class="header-content">
                <a href="#about" class="btn btn-primary btn-xl page-scroll"  style="opacity: 0.30;">Find Out More</a>
            </div>
        </header>

        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" >About | UDAAN
                            <hr class="light"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-lg-push-1 text-center">
                        <p class="text-faded">The current dynamic of the world calls for changes. Changes that are drastic, smart and innovative.
<br>Also, in a society where education has become more about learning the same facts unquestionably, we need to re-ignite the flame of curiosity among students. 
Kalpana aims to combine these two. It encourages students all over India to come up with new, original, unconventional ideas that could bring about positive disruptive changes in world, and potentially make it a better place by doing so.<i></p>
                    </div>
                    <div class="col-lg-1 col-lg-push-1 text-center">
                        <div class="text-center" id="social-media">
                            <br><br><br>
                            <a href="https://www.facebook.com/iitbhu.csi/" class="fa fa-facebook"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="workshops">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading ribbon"><span>Vision</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p>
                            We all are pretty aware of the fact that our home, the earth is slowly crumbling to pieces and is in a very delicate state right now. If proper action isn't taken soon enough, then spanning over the next three decades, some of our most intractable problems will gradually
worsen and become extremely difficult to handle, causing several disruptions to human
beings.

<br>Therefore, Kalpana aims to solve such problems impacting masses through innovative solutions
which can be implemented in the real world using Drones.

<br>Drones being one of the most rapidly growing technology, provides vast opportunities
for innovation and experimentation. We want our participants to brainstorm over this
highly versatile technology and use it for the benefit of the Society.

<br>Kalpana's domains include defence, healthcare, disaster management, agritech, and smart living.
All of them hold massive importance in our lives. New innovative ideas in the betterment of these domains are welcome, as well as some pre-thought out ideas are always given in the brochure. 

<br>So, gear up your minds and put your thinking cap on for this groundbreaking adventure!
                            

                        </p>
                    </div>
                </div>
            </div>
        </section>

            <section class="no-padding" id="highlights">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Competitions</span></h2>
                </div>
            </div>
        </div>

        <!--highlights Section-->
        <section id="clubs" class="clubs bg-grey roomy-70 cf">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">
                        <div class="col-md-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item left">
                                        <img src="/static/clubs/cops/img/introductory.png" style="max-width: 100%;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 cf">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Introductory Workshops
                                    <hr class="light">
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">A series of introductory workshops are held in the fields of competitive
                                    programming, machine learning and development, providing an insight into these
                                    fields.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">


                        <div class="col-md-6 col-md-push-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/clubs/cops/img/data_science.png" style="max-width: 100%;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-pull-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Data Science
                                    <hr class="light">
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">The concept of data sciences is introduced and essential fundamentals like
                                    analyzing and interpreting data, fundamentals of predictive modelling are covered
                                    in the workshop.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>
        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">
                        <div class="col-md-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/clubs/cops/img/quantitative_finance.png" style="max-width: 100%;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Quantitative Finance
                                    <hr class="light">
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">This workshop provides a brief introduction to investment strategies across a
                                    variety of asset classes and global market i.e how to predict stock prices, buy or
                                    sell them according to past data by making alphas in quant. The workshop also
                                    introduces WorldQuant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="clubs" class="clubs bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_clubs">


                        <div class="col-md-6 col-md-push-6">
                            <div class="clubs_slid">
                                <div class="clubs_items text-center">
                                    <div class="clubs_item">
                                        <img src="/static/clubs/cops/img/gsoc.png" style="max-width: 100%;" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-pull-6">
                            <div class="clubs_item sm-m-top-50">
                                <h2 class="section-heading">Crack GSOC Interactions
                                    <hr class="light">
                                </h2>
                                <p class="m-top-20" style="font-size: 2.0rem!important;">Interaction sessions are held with GSOCers where important points related to
                                    how to crack GSOC are discussed. It includes discussions on possible
                                    organizations and how to effectively approach and communicate with them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>


<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading ribbon long-ribbon"><span>Timeline</span></h2>
                </div>
            </div>
        </div>
        
                <div class="container">
            <h4>Timeline Style : Demo-11</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline11">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2018</span>
                                <div class="inner-content">
                                    <h3 class="title">Web Designer</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum eros. Etiam venenatis ac.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2017</span>
                                <div class="inner-content">
                                    <h3 class="title">Web Developer</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum eros. Etiam venenatis ac.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2016</span>
                                <div class="inner-content">
                                    <h3 class="title">Web Designer</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum eros. Etiam venenatis ac.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2015</span>
                                <div class="inner-content">
                                    <h3 class="title">Web Developer</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum eros. Etiam venenatis ac.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2014</span>
                                <div class="inner-content">
                                    <h3 class="title">Web Designer</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis. Quisque eu ornare risus, vitae fermentum eros. Etiam venenatis ac.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container ">
                <div class="row">

                    <div class="col-sm-4 iit-gate-position">
                        <img class="iit-gate" src="/static/img/footer-img.png" alt="iitbhu-gate">
                    </div>
                    <div class="col-sm-4 iit-gate-position">
                        <p class="footer-company-name justify-content-center"> &copy;Managed by SNTC Tech Team </p>

                        <p class="footer-company-name justify-content-center"><span style="padding-right: 2.8%;">Navtosh Das</span><span style="padding-right: 5px ;">| </span><span> Dilbwag Singh</span></p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="/static/js/jquery.easing.min.js"></script>
        <script src="/static/js/jquery.fittext.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/morphext.min.js"></script>
        <script src="/static/js/jquery.bgswitcher.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/static/clubs/csi/custom.js"></script>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    </body>

</html>
